@import "./partials/variables";
@import "./partials/reset";

.navCustom{
    background-color: $mainColor;
    box-shadow:0px 0px 15px black ;
    .navbtn{
        display: flex;
        justify-content: flex-end;

    }
    .navbar-link{
        font-family: $fontTitulos;
        transition-property: all;
        transition-duration: 0.3s;
    }
    .navbar-link:hover{
        transform: scale(1.05) ;
    }
}
.carruselCustom{
    box-shadow: 0px 0px 15px black;
    .imgCarrusel{
        height: 800px;
    }
    .tituloCarrusel{
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        bottom: 250px;
        font-size: 300%;
        font-family: $fontTitulos;
        text-shadow: 0px 0px 25px black;
        background-color: rgba(0, 0, 0, 0.018);
    }
    .parrafoCarrusel{
        justify-content: center;
        position: relative;
        bottom: 250px;
        font-size: 200%;
        font-family: $fontTitulos;
        text-shadow: 0px 0px 25px black;
        background-color: rgba(0, 0, 0, 0.018);
    }
}



.title{
    text-align: center;
    font-family: $fontTitulos;
    font-size: 300%;
    color: $colorTitulo;
    width: 40%;
    margin-block: 5% 2%;
}
.subtitle{
    text-align: center;
    color:  $colorParrafos;
    font-family: $fontParrafos;
    font-size: 200%;
    width: 50%;
}

.cardsProductos{
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
    padding-left: 8%;
    .trajeta{
        margin-top: 10%;
        width: 350px;
        .imgProductos{
            height: 350px;
        }        
        .textos-cards{
            font-family: $fontParrafos;
            font-size: 150%;
            .card-description{
                color:  $colorParrafos;
            }
            .card-btn{
                transition: all 0.3s;
            }
            .card-btn:hover{
                background-color: white;
                color: #0a53be;
            }
        }
    }
}

.verMas{
    margin-block: 3%;
    text-decoration: none;
    font-family: $fontParrafos;
    color: #aaa;
    transition: all 0.3s;
    
}

.verMas:hover{
    color: rgb(94, 93, 93);
    transform: translateY(-3px);
}


.redes{
    background-color: $mainColor;
    font-family: $fontParrafos;
    box-shadow: 0px 0px 20px black;
    padding-block: 0.5%;
    .logo-redes{
        width: 50px;
        transition: all 0.1s;
    }
    .logo-redes:hover{
        transform: scale(1.02);
    }

}
