@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&family=Ubuntu:wght@700&display=swap");
.form__container .form__titulo, .title {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 300%;
  color: #3c4858;
  width: 40%;
  margin-block: 5% 2%;
}

.form__container .form__parrafo, .subtitle {
  text-align: center;
  color: #999;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 200%;
  width: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Navbar*/
.navCustom {
  background-color: #546e7a;
  box-shadow: 0px 0px 15px black;
}
.navCustom .navbar-link {
  font-family: "Ubuntu", sans-serif;
  transition-property: all;
  transition-duration: 0.3s;
}
.navCustom .navbar-link:hover {
  transform: scale(1.05);
}

/*Carrusel*/
.carruselCustom {
  box-shadow: 0px 0px 15px black;
}
.carruselCustom .imgCarrusel {
  height: 800px;
}
.carruselCustom .tituloCarrusel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 250px;
  font-size: 300%;
  font-family: "Ubuntu", sans-serif;
  text-shadow: 0px 0px 25px black;
  background-color: rgba(0, 0, 0, 0.018);
}
.carruselCustom .parrafoCarrusel {
  justify-content: center;
  position: relative;
  bottom: 250px;
  font-size: 200%;
  font-family: "Ubuntu", sans-serif;
  text-shadow: 0px 0px 25px black;
  background-color: rgba(0, 0, 0, 0.018);
}

/*Titulos y Parrafos*/
/*Productos*/
.cardsProductos {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding-left: 8%;
}
.cardsProductos .trajeta {
  margin-top: 10%;
  width: 350px;
}
.cardsProductos .trajeta .imgProductos {
  height: 350px;
}
.cardsProductos .trajeta .textos-cards {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 150%;
}
.cardsProductos .trajeta .textos-cards .card-description {
  color: #999;
}
.cardsProductos .trajeta .textos-cards .card-btn {
  transition: all 0.3s;
}
.cardsProductos .trajeta .textos-cards .card-btn:hover {
  background-color: white;
  color: #0a53be;
}

/*Ver mas Index*/
.verMas {
  margin-block: 3%;
  text-decoration: none;
  font-family: "Montserrat Alternates", sans-serif;
  color: #aaa;
  transition: all 0.3s;
}

.verMas:hover {
  color: rgb(94, 93, 93);
  transform: translateY(-3px);
}

/*Footer*/
footer {
  background-image: url(../img/background-footer.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
footer .footer__container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding-top: 3%;
  padding-left: 7%;
}
footer .footer__container .footer__logo__parrafo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footer__container .footer__logo__parrafo .footer__logo {
  width: 250px;
}
footer .footer__container .footer__logo__parrafo .footer__parrafo {
  text-align: center;
  width: 70%;
  font-family: "Montserrat Alternates", sans-serif;
  color: #999;
  font-size: 150%;
}
footer .footer__container .footer__paginas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footer__container .footer__paginas .footer__h3 {
  font-size: 200%;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 5%;
  color: #3c4858;
}
footer .footer__container .footer__paginas a {
  text-decoration: none;
  font-family: "Montserrat Alternates", sans-serif;
  color: #999;
  font-size: 130%;
  transition: all 0.3s;
}
footer .footer__container .footer__paginas a:hover {
  opacity: 0.9;
  transform: scale(1.02);
}
footer .footer__container .footer__puntodeventa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footer__container .footer__puntodeventa .footer__h3 a {
  text-decoration: none;
  font-size: 120%;
  font-family: "Ubuntu", sans-serif;
  color: #3c4858;
  transition: all 0.3s;
}
footer .footer__container .footer__puntodeventa .footer__h3 a:hover {
  opacity: 0.8;
}
footer .footer__container .footer__redes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .footer__container .footer__redes .footer__h3 {
  text-decoration: none;
  font-size: 200%;
  font-family: "Ubuntu", sans-serif;
  color: #3c4858;
  margin-bottom: 8%;
}
footer .footer__container .footer__redes a {
  text-decoration: none;
  font-family: "Montserrat Alternates", sans-serif;
  color: #999;
  font-size: 130%;
  transition: all 0.3s;
}
footer .footer__container .footer__redes a:hover {
  opacity: 0.9;
  transform: scale(1.01);
}
footer .footer__copy {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
  font-family: "Montserrat Alternates", sans-serif;
  color: #999;
  font-size: 120%;
}
footer .footer__copy p b {
  color: #3c4858;
  font-size: 105%;
}

/*Cards Categorias */
.cardCategorias {
  opacity: 0.88;
  transition: all 0.3s;
}

.cardCategorias:hover {
  opacity: 1;
  transform: scale(1.02);
}

.cardsProductos .cardCategorias .textos-cards .h5-card {
  text-align: center;
  font-size: 120%;
}

/*Titulo categorias*/
.catalogo-h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-family: "Ubuntu", sans-serif;
  color: white;
  text-shadow: 0px 0px 15px black;
  background-image: url(../img/fondocategorias.jpg);
  padding-block: 20%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 15px black;
  text-align: center;
}

/*Titulo Productos*/
.catalogo-h1-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-family: "Ubuntu", sans-serif;
  color: #3c4858;
}

/*Formulario contacto*/
.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form__container .form__parrafo {
  width: 20%;
  font-size: 150%;
  margin-bottom: 3%;
}
.form__container .form__contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: "Montserrat Alternates", sans-serif;
  color: #999;
  font-size: 140%;
  position: relative;
  right: 20px;
}
.form__container .form__contacto .form__text {
  position: relative;
  bottom: 100px;
  transition: all 0.3s;
}
.form__container .form__contacto .form__mensaje {
  position: relative;
  bottom: 240px;
}
.form__container .form__contacto .form__input {
  width: 120%;
  height: 300%;
  border: none;
  outline: none;
  border-bottom: 1px solid #999;
  color: #3c4858;
  padding-inline: 1%;
  padding-bottom: 1%;
  margin-block: 10%;
  transition: all 0.3s;
}
.form__container .form__contacto .form__input:focus {
  border-bottom: 1px solid #0a53be;
}
.form__container .form__contacto .form__input:focus + .form__text {
  color: #0a53be;
}
.form__container .form__contacto .form__enviar {
  margin-block: 10%;
  text-align: center;
  width: 120%;
  height: 160%;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #0a53be;
  border: 1px solid #0a53be;
  border-radius: 5px;
  transition: all 0.3s;
}
.form__container .form__contacto .form__enviar:hover {
  background-color: white;
  color: #0a53be;
}

/*Acerca De*/
.acercade {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.acercade .acercade__titulo {
  justify-content: center;
  font-size: 50px;
  font-family: "Ubuntu", sans-serif;
}
.acercade .acercade__parrafo {
  width: 50%;
  font-size: 30px;
  font-family: "Montserrat Alternates", sans-serif;
  text-align: center;
}

.contacto__local {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-family: "Montserrat Alternates", sans-serif;
}

/*Media Queries-Responsive*/
@media screen and (max-width: 1600px) {
  .cardsProductos {
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
}
@media screen and (max-width: 1280px) {
  .cardsProductos {
    padding-left: 5%;
  }
}
@media screen and (max-width: 1024px) {
  .navbar-link {
    font-size: 70%;
  }
  .cardsProductos {
    grid-template-columns: 50% 50%;
    padding-left: 11%;
  }
  footer .footer__container .footer__logo__parrafo .footer__logo {
    width: 220px;
  }
  footer .footer__container .footer__logo__parrafo .footer__parrafo {
    width: 70%;
    font-size: 100%;
  }
  footer .footer__container .footer__paginas .footer__h3 {
    font-size: 180%;
  }
  footer .footer__container .footer__paginas a {
    font-size: 100%;
  }
  footer .footer__container .footer__puntodeventa .footer__h3 a {
    font-size: 100%;
  }
  footer .footer__container .footer__redes .footer__h3 {
    font-size: 170%;
  }
  footer .footer__container .footer__redes a {
    font-size: 100%;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 200%;
    width: 50%;
  }
  .subtitle {
    font-size: 150%;
    width: 80%;
  }
  .trajeta {
    width: 250px;
  }
  .cardsProductos {
    grid-template-columns: 50%;
    justify-content: center;
    padding-left: 0px;
  }
  .carruselCustom .tituloCarrusel {
    font-size: 250%;
  }
  .carruselCustom .parrafoCarrusel {
    font-size: 150%;
  }
  .catalogo-h1-2 {
    text-align: center;
    font-size: 400%;
  }
}
@media screen and (max-width: 854px) {
  .cardsProductos {
    padding-left: 50px;
  }
  .title {
    font-size: 150%;
  }
  .subtitle {
    font-size: 150%;
  }
  .cardsProductos .trajeta {
    width: 300px;
  }
  .cardsProductos .trajeta .imgProductos {
    height: 300px;
  }
}/*# sourceMappingURL=styles.css.map */