
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}




/*Navbar*/

.navbtn{
    display: flex;
    justify-content: flex-end;

}

.navbar-link{
    font-family: 'Ubuntu', sans-serif;
    transition-property: all;
    transition-duration: 0.3s;
    
    
    
}

.navbar-link:hover{
    transform: scale(1.05) ;
    
}

.navCustom{
    background-color: #546e7a ;
    box-shadow: 0px 0px 15px black;
    
}





/*Carrusel index*/

.carruselCustom{
    
    box-shadow: 0px 0px 15px black;
}

.imgCarrusel{
    height: 800px;
}

.tituloCarrusel{
display: flex;
flex-direction: row;
justify-content: center;
position: relative;
bottom: 250px;
font-size: 300%;
font-family: 'Ubuntu', sans-serif;
text-shadow: 0px 0px 25px black;
background-color: rgba(0, 0, 0, 0.018);
}
.parrafoCarrusel{
    justify-content: center;
    position: relative;
    bottom: 250px;
    font-size: 200%;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 0px 0px 25px black;
    background-color: rgba(0, 0, 0, 0.018);
}



/* Tiutlo y Parrafo index*/
.title{
    text-align: center;
    font-family: 'ubuntu', sans-serif;
    font-size: 300%;
    color: #3c4858;
    width: 40%;
    margin-block: 5% 2%;
}
.subtitle{
    text-align: center;
    color:  #999;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 200%;
    width: 50%;
}



/*Cards*/
.imgProductos{
    height: 350px;
}

.textos-cards{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 150%;
}


.card-description{
    color:  #999;

}

.cardsProductos{
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
    padding-left: 8%;

}
.trajeta{
    margin-top: 10%;
    width: 350px;
}

.card-btn{
    transition: all 0.3s;

}

.card-btn:hover{
    background-color: white;
    color: #0a53be;
}


.verMas{
    margin-block: 3%;
    text-decoration: none;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #aaa;
    transition: all 0.3s;
    
}

.verMas:hover{
    color: rgb(94, 93, 93);
    transform: translateY(-3px);
}





/*Footer y Redes*/
.redes{
    background-color: #546e7a ;
    font-family: 'Montserrat Alternates', sans-serif;
    box-shadow: 0px 0px 20px black;
    padding-block: 0.5%;
}

.logo-redes{
    width: 50px;
    transition: all 0.1s;

}

.logo-redes:hover{
    transform: scale(1.02);
}


/*Cards Categorias*/

.cardCategorias{
    opacity: 0.88;
    transition: all 0.3s;
}

.cardCategorias:hover{
    opacity: 1;
    transform: scale(1.02);
}
.h5-card{
    text-align: center;
    font-size: 120%;
}



/*ESTILOS DEL TITULO DE CATALOGO Y PRODUCTOS */
.catalogo-h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-shadow: 0px 0px 15px black;
    background-image: url(/img/fondocategorias.jpg);
    padding-block: 20%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 15px black;
    text-align: center;

}



.catalogo-h1-2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: 'Ubuntu', sans-serif;
    color: #3c4858;
}







/* CONTACTO*/


.titluloContacto{
    display: flex;
    justify-content:center ;
    font-size: 50px;
    color: rgb(64, 134, 136);
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.parrafoContacto{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 50px;
    color:  rgb(83, 83, 81);
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.contacto__gmail__wsp{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    
}
.h2-contacto{
    font-family: 'Ubuntu', sans-serif;
}


.contacto__gmail{
    position: relative;
    left: 150px;
    top: 30px;
    font-family: 'Montserrat Alternates', sans-serif;
    
}


.contacto__wsp{
    position: relative;
    left: 270px;
    width: 100px;
    height: 100px;
}


/* CONTACTO Y ACERCADE*/


.contacto__local{
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-family: 'Montserrat Alternates', sans-serif;
}


.contacto__seguinos{
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: rgb(235, 202, 159);
   position: relative;
   top: 300px;
   font-family: 'Montserrat Alternates', sans-serif;

}




/* ACERCA DE*/


.body__acercade{
    background-image: url(./img/fondo4.jpg);
    background-size: cover;

}

.acercade{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.acercade__titulo{
    justify-content: center;
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
    
}


.acercade__parrafo{
    width: 50%;
   font-size: 30px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-family: 'Montserrat Alternates', sans-serif;
   text-align: center;
}






@media screen and (max-width:1600px) {

    .cardsProductos{
        grid-template-columns: 33.33% 33.33% 33.33%  ; 
        
    }
    
}



@media screen and (max-width:1024px) {
    .navbar-link{
        font-size: 70%;
        
        
    }



    .cardsProductos{
        grid-template-columns: 50% 50%  ; 
        
    }
    

}

@media screen and (max-width:768px){

    .title{
        font-size: 200%;
        width: 50%;
    }

    .subtitle{
        font-size: 150%;
        width: 80%;
    }

    .trajeta{
        width: 250px;
        
    }

    .cardsProductos{
        padding-left: 13.5%;
    }

    

}

@media screen and (max-width:480px) {
     .imgCarrusel{
        height: 400px;
     }

     .cardsProductos{
        grid-template-columns: 100%;
        padding-left: 25%;
     }

     .title{
        font-size: 180%;
        width: 90%;
     }

     .subtitle{
        font-size: 150%;
        width: 100%;
     }

     .textos-cards{
        font-size: 100%;
     }

     .verMas{
        font-size: 80%;
        margin-block: 8%;
     }

     .footer{
        margin-top: 8%;
        font-size: 80%;
        text-align: center;
        width: 80%;
        padding-left: 20%;
     }

     .logo-redes{
        width: 35px;
     }

     .redes{
        gap: 40px;
     }

     .catalogo-h1{
        font-size: 300%;
     }


}