@import "./partials/variables";
@import "./partials/reset";

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align ;
}

.navCustom{
    background-color: $mainColor;
    box-shadow:0px 0px 15px black ;
    .navbtn{
        display: flex;
        justify-content: flex-end;

    }
    .navbar-link{
        font-family: $fontTitulos;
        transition-property: all;
        transition-duration: 0.3s;
    }
    .navbar-link:hover{
        transform: scale(1.05) ;
    }
}
.carruselCustom{
    box-shadow: 0px 0px 15px black;
    .imgCarrusel{
        height: 800px;
    }
    .tituloCarrusel{
        @include flex(row,center,center);
        position: relative;
        bottom: 250px;
        font-size: 300%;
        font-family: $fontTitulos;
        text-shadow: 0px 0px 25px black;
        background-color: rgba(0, 0, 0, 0.018);
    }
    .parrafoCarrusel{
        justify-content: center;
        position: relative;
        bottom: 250px;
        font-size: 200%;
        font-family: $fontTitulos;
        text-shadow: 0px 0px 25px black;
        background-color: rgba(0, 0, 0, 0.018);
    }
}



.title{
    @extend %titulos;
     
}
.subtitle{
    @extend %parrafos;

}

.cardsProductos{
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
    padding-left: 8%;
    .trajeta{
        margin-top: 10%;
        width: 350px;
        .imgProductos{
            height: 350px;
        }        
        .textos-cards{
            font-family: $fontParrafos;
            font-size: 150%;
            .card-description{
                color:  $colorParrafos;
            }
            .card-btn{
                transition: all 0.3s;
            }
            .card-btn:hover{
                background-color: white;
                color: #0a53be;
            }

        }
    }
}

.verMas{
    margin-block: 3%;
    text-decoration: none;
    font-family: $fontParrafos;
    color: #aaa;
    transition: all 0.3s;
    
}

.verMas:hover{
    color: rgb(94, 93, 93);
    transform: translateY(-3px);
}


.redes{
    background-color: $mainColor;
    font-family: $fontParrafos;
    box-shadow: 0px 0px 20px black;
    padding-block: 0.5%;
    .logo-redes{
        transition: all 0.1s;
        
    }
    .logo-redes:hover{
        transform: scale(1.02);
    }
    @each $redsocial, $width in $redes {
        .logo-#{$redsocial}{
            width: $width;
        }
        
    }

}



.cardCategorias{
    opacity: 0.88;
    transition: all 0.3s;
}
.cardCategorias:hover{
    opacity: 1;
    transform: scale(1.02);
}


.catalogo-h1{
    @include flex(row, center, center);
    font-size: 100px;
    font-family: $fontTitulos;
    color: white;
    text-shadow: 0px 0px 15px black;
    background-image: url(/img/fondocategorias.jpg);
    padding-block: 20%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 15px black;
    text-align: center;
}

.catalogo-h1-2{
    @include flex(row, center, center);
    font-size: 100px;
    font-family: $fontTitulos;
    color: $colorTitulo;
}


.cardsProductos{
    .cardCategorias{
        .textos-cards{
            .h5-card{
                text-align: center;
                font-size: 120%;
            }
        }
    }
}

.contacto__gmail__wsp{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    .h2-contacto{
        font-family: $fontTitulos;
    }
    .contacto__gmail{
        position: relative;
        left: 150px;
        top: 30px;
        font-family: $fontParrafos;
        
    }
    .contacto__wsp{
        position: relative;
        left: 270px;
        width: 100px;
        height: 100px;
    }
}

.contacto__local{
    font-size: 25px;
    @include flex(row, center, center);
    margin-bottom: 30px;
    font-family: $fontParrafos;
}

.contacto__seguinos{
    @include flex(row, center, center);
   background-color: rgb(235, 202, 159);
   position: relative;
   top: 300px;
   font-family:$fontParrafos;

}


.acercade{
    @include flex(column, center, center);
    .acercade__titulo{
        justify-content: center;
        font-size: map-get($redes , whatsapp );
        font-family:$fontTitulos;
        
    }
    .acercade__parrafo{
        width: 50%;
       font-size: 30px;
       font-family:$fontParrafos;
       text-align: center;
    }
}












/*Media Queries-Responsive*/

@media screen and (max-width:1600px) {

    .cardsProductos{
        grid-template-columns: 33.33% 33.33% 33.33%  ; 
        
    }
    
}



@media screen and (max-width:1024px) {
    .navbar-link{
        font-size: 70%;
        
        
    }



    .cardsProductos{
        grid-template-columns: 50% 50%  ; 
        
    }
    

}

@media screen and (max-width:768px){

    .title{
        font-size: 200%;
        width: 50%;
    }

    .subtitle{
        font-size: 150%;
        width: 80%;
    }

    .trajeta{
        width: 250px;
        
    }

    .cardsProductos{
        padding-left: 13.5%;
    }

    

}

@media screen and (max-width:480px) {
     .imgCarrusel{
        height: 400px;
     }

     .cardsProductos{
        grid-template-columns: 100%;
        padding-left: 25%;
     }

     .title{
        font-size: 180%;
        width: 90%;
     }

     .subtitle{
        font-size: 150%;
        width: 100%;
     }

     .textos-cards{
        font-size: 100%;
     }

     .verMas{
        font-size: 80%;
        margin-block: 8%;
     }

     .footer{
        margin-top: 8%;
        font-size: 80%;
        text-align: center;
        width: 80%;
        padding-left: 20%;
     }

     .logo-redes{
        width: 35px;
     }

     .redes{
        gap: 40px;
     }

     .catalogo-h1{
        font-size: 300%;
     }


}